@using AvtoTest.Data.Entities.TestEntities



@{
    byte ticketId = Convert.ToByte(ViewBag.TicketId);
    HttpContext _httpContext = (HttpContext)ViewBag.Context;
    Ticket ticket = ViewBag.Ticket;
    var test = Model;

    List <Test> tests = ViewBag.Tests;
        
}



<div class="container">
    <div class="languages">
        <a class ="btn btn-primary"  asp-action="GetTests" asp-route-ticketId="@ticketId" asp-route-testId="@test.Id" asp-route-language="ru">Rus</a>
        <a class ="btn btn-primary"  asp-action="GetTests" asp-route-ticketId="@ticketId" asp-route-testId="@test.Id" asp-route-language="krill">Krill</a>
        <a class ="btn btn-primary"  asp-action="GetTests" asp-route-ticketId="@ticketId" asp-route-testId="@test.Id" asp-route-language="uzb">Uzb</a>
    </div>

    <div class="paginition_part">
        <a class="finish_test_button btn btn-primary" asp-route-ticketId="@ticketId" asp-action="TestResults">testni yakunlash</a>
        <div class="paginition">
            
            <div class="pagination_section">
                @{
                    int previousId;
                    int nextId;
                    if (test.Id == ticket.StartIndex)
                    {
                        previousId = test.Id;
                    }
                    else
                    {
                        previousId = test.Id - 1;
                    }

                    if (test.Id == ticket.EndIndex)
                    {
                        nextId = test.Id;
                    }
                    else
                    {
                        nextId = test.Id + 1;
                    }
                }
                <a asp-action="GetTests" asp-route-ticketId="@ticketId" asp-route-testId="@previousId"> Previous </a>
                @for (int i = ticket.StartIndex; i <= ticket.EndIndex; i++)
                {
                    string choiceId = _httpContext.Request.Cookies[i.ToString()]!;
                    @if (!string.IsNullOrEmpty(choiceId))
                    {
                        int selectedId = Convert.ToInt32(choiceId);
                        var selectedTest = tests.Find(t => t.Id == i);
                        var answer = selectedTest!.Choices[selectedId].Answer;
                        if (answer)
                        {
                            <a class="correctAnswer" asp-action="GetTests" asp-route-ticketId="@ticket.Id" asp-route-testId="@i">@i</a>
                        }
                        else
                        {
                            <a class="incorrectAnswer" asp-action="GetTests" asp-route-ticketId="@ticket.Id" asp-route-testId="@i">@i</a>
                        }
                    }
                    else
                    {
                        if (test.Id == i)
                        {
                            <a class="active" asp-action="GetTests" asp-route-ticketId="@ticket.Id" asp-route-testId="@i">@i</a>
                        }
                        else
                        {
                            <a asp-action="GetTests" asp-route-ticketId="@ticket.Id" asp-route-testId="@i">@i</a>

                        }
                    }

                }
                <a asp-action="GetTests" asp-route-ticketId="@ticketId" asp-route-testId="@nextId"> Next </a>
            </div>
        </div>
        <div class="timer">
            <div id="app"></div>
        </div>
    </div>

    <div class="question_part">
        <p>@test.Question</p>
        <div class="line"></div>
        <div class="variants_part">
            <div class="image_part">
                @if (test.Media.Exist)
                {
                    var path = $"{test.Media.Name}.png";

                    <img src="~/Autotest/@path" alt="" />
                }
                else
                {
                    <img src="~/DefaultImg.jpg" alt=""/>
                }
            </div>
            <div class="variant">
                <form asp-action="GetTestsPost" method="post">
                    @{ int row = 0;}
                    @foreach (var choice in test.Choices)
                    {
                        string choiceId = _httpContext.Request.Cookies[test.Id.ToString()]!;
                        @if (!string.IsNullOrEmpty(choiceId))
                        {
                            int selectedId = Convert.ToInt32(choiceId);
                            if (row == selectedId)
                            {
                                if (choice.Answer)
                                {
                                    <button disabled class="btn btn-success" type="submit">@choice.Text</button>
                                    <br/>
                                }
                                else
                                {
                                    <button disabled class="btn btn-danger" type="submit">@choice.Text</button>
                                    <br/>
                                }
                            }
                            else
                            {
                                <button disabled class="btn " type="submit">@choice.Text</button>
                                <br/>
                            }
                
                        }
                        else
                        {
                            <button  asp-route-ticketId="@ticketId" 
                                     asp-route-testId="@test.Id"
                                     asp-route-choiceId="@row"
                                     asp-action="GetTestsPost"
                                     class="btn btn-primary" type="submit">@choice.Text</button>
                            <br/>
                        }
                        <br>
                        row++;
                    }
                </form>
            </div>
        </div>
    </div>
</div>


    
  
